@use "./base.scss";
@use "./variables.scss" as *;
@use "sass:map";
/* -- Morrowind Modding Wiki SCSS Modules for cooler things-- */
@use "./custom/infobox-callout.scss";
@use "./custom/image-adjustments.scss";
@use "./custom/callout-adjustments.scss";
@use "./custom/column-callout.scss";
@use "./custom/caption-callout.scss";

// put your custom CSS here!

// Adding some spacing between entries in the explorer
div.explorer {
    .overflow {
        li {
            li {
                margin-bottom: 0.3rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// expands to match wide monitors better (I think)
@media all and ($desktop) {
  body div#quartz-root.page div#quartz-body {
    width: min(100%, calc(#{map.get($breakpoints, desktop)} + 700px));
    max-width: min(100%, calc(#{map.get($breakpoints, desktop)} + 700px));
    padding: 0 auto;
  }
}

body table {
  width: unset;
}


/* Force borders on Quartz Callout Infoboxes */
.callout[data-callout="infobox"] {
  border: 1px solid #22a578 !important;
  border-collapse: collapse !important;
  margin-bottom: 1rem !important;
  padding: 5px !important;
  background-color: transparent !important; /* Ensures the background doesn't hide the border */
}

/* Ensure any tables inside that infobox also use the green border */
.callout[data-callout="infobox"] table {
  border: 1px solid #22a578 !important;
  border-collapse: collapse !important;
}
